.logo_text
{
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 0.75;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.logo_text span
{
	color: #14bdee;
}
.float{
	position:relative;
	width:100px;
	height:45px;
	top:0px;
	margin-left: 10px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	align-items: center;
  font-size:22px;
  z-index:100;
}

.my-float{
	margin-top:16px;
}